.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
 background: #4e54c8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body{
  background-image: url("https://st3.depositphotos.com/3344745/19133/v/600/depositphotos_191338596-stock-video-white-soft-backgrounds-more-background.jpg");
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
 background: #4e54c8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

a:link {
  text-decoration: none;
}
.res:link {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color:yellow;
}
.res :link {
  color:red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* Resume Page css */
.resume-right-col {
  background-image: url("https://cdn.shopify.com/s/files/1/0107/4751/0884/products/StarryNight_250x250@2x.gif?v=1574225649");
  color: white;
  padding: 2em;
}
.abt{
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 350px;
  background-image: url("https://cdn.shopify.com/s/files/1/0107/4751/0884/products/StarryNight_250x250@2x.gif?v=1574225649");
  color: white;
  margin: auto;
}
/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background-image: url("https://thumbs.gfycat.com/DistortedFlashyHydra-size_restricted.gif");
  color: yellow;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
  color: yellowgreen;
}

.me{
  font-size: 55px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: dotted, underline;
  text-decoration-color: wheat;
}


/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
background-image: url("https://cdn.shopify.com/s/files/1/0107/4751/0884/products/StarryNight_250x250@2x.gif?v=1574225649");
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}